In [1]:
from sqlalchemy import create_engine
from sqlalchemy.types import *
import pandas as pd

In [2]:
sql_engine = create_engine(
    'postgresql://myuser:mypass@localhost/world_data_etl')

county_list_query=f'''
        SELECT *
        FROM countries_table as c
        '''
countries_df =pd.read_sql(county_list_query,sql_engine)
countries=pd.Series(countries_df.name.values,index=countries_df.country_code).to_dict()
continants=countries_df['region'].unique()
regions=countries_df['sub_region'].unique()
country_region={}
country_continant={}

for continant in continants:
    country_continant[continant]= list(countries_df['country_code'][countries_df['region']==continant])

for region in regions:
    country_region[region]= list(countries_df['country_code'][countries_df['sub_region']==region])

In [51]:
df1=select_many('lif_exp_table','AFG',sql_engine,True)
df2=select_many('hdi_table','AFG',sql_engine,True)
#longer=max(len(df1),len())
result = pd.concat([df1, df2], axis=1).fillna(0)
result

       lif    hdi
year
1990  50.3  0.000
1991  51.0  0.000
1992  51.6  0.000
1993  52.3  0.000
1994  52.8  0.000
1995  53.4  0.000
1996  53.9  0.000
1997  54.4  0.000
1998  54.9  0.000
1999  55.4  0.000
2000  55.8  0.000
2001  56.3  0.000
2002  56.8  0.373
2003  57.3  0.383
2004  57.8  0.398
2005  58.3  0.408
2006  58.8  0.417
2007  59.4  0.429
2008  59.9  0.437
2009  60.5  0.453
2010  61.0  0.463
2011  61.6  0.471
2012  62.1  0.482
2013  62.5  0.487
2014  63.0  0.491
2015  63.4  0.493
2016  63.8  0.494
2017  64.1  0.498
2018  64.5  0.000
2019  64.8  0.000
1980   0.0  0.228
1985   0.0  0.273